html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.ItemList1 {
    border: 2px solid black;
    border-bottom: 0px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.ItemList2 {
    border: 2px solid black;
    border-top: 0px ;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.ItemListTable {
    border: 2px solid black;
    outline: #fee0b6 solid 4px;
    margin: auto;
    padding: 20px;
    text-align: center;
}
