@page
@model PrivacyModel
@{
	ViewData["Title"] = "Voor Rockstars";
}
<body style="background-color: black">
	<h1 style="color: lightgoldenrodyellow">@ViewData["Title"]</h1m>

	<p style="color: yellow">Hello World</p>
</body>