@page
@using Homebrew5e.App.Pages.ItemPages;
@using Homebrew5e.App.Pages;
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div class="text-center">
	<form method="post">
		<button type="submit"><a style="text-decoration:none; color:black;" asp-area="" asp-page="/LoginPages/Login">Login</a></button>
		<br><br>
		<button type="submit"><a style="text-decoration:none; color:black;" asp-area="" asp-page="/LoginPages/Register">Register</a></button>
	</form>
</div>
