@page
@model Homebrew5e.App.Pages.TestModel
@{
	ViewData["Title"] = "Testing Page";
    List<string> Words = new List<string>() { "apple", "bone", "sponge" };

}

<p1>
	this is now a testing page
</p1>

<table>
    <thead>
        <tr>
            <th>A WORD</th>
            <th>A Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (string item in Words)
        {
            <tr>
                <td>@item</td>
                
            </tr>
        }
    </tbody>
</table>
