@page
@using Homebrew5e.App.Pages;
@using Homebrew5e.App.Pages.ItemPages;
@model ItemTableModel
@{
}

<!DOCTYPE html>

<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" type="text/css" href="~/Homebrew5e.styles.css" asp-append-version="true" />
</head>
<body>
	<button type="submit"><a asp-area="" asp-page="/ItemPages/ItemAdd">Add an item</a></button>

	<table class="ItemListTable">
		@foreach (var item in Model.Items)
		{

			<tr class="ItemList1">
				<td>@item.GetName()</td>
				<td>@item.GetAttribute()</td>

			</tr>
			<tr class="ItemList2">
				<td>	</td>
				<td>
					<form method="post">
						<input type="hidden" asp-for="SelectedItemId" value="@item.GetID()" />
						<button asp-page-handler="ItemInfoPage">Info</button>
					</form>
				</td>
			</tr>
		}
	</table>
</body>